@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes expanding-circle {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}

@keyframes expanding-square {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.025, 1.5);
    }
}

:root {
    --body-font-family: sans-serif;
    --body-color: #fff;
    --body-background-color: #000;
    --body-background-image: url('../images/lorceroth.jpg');
}

html, body {
    width: 100%;
    height: 100vh;
}

body {
    font-family: var(--body-font-family);
    color: var(--body-color);
    background-color: var(--body-background-color);
    background-image: var(--body-background-image);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(49, 37, 78, .85), rgba(10, 7, 16, .85));
    z-index: 100;
}

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.main__container {
    display: flex;
    flex-direction: column;
}

.logo {
    fill: var(--body-color);
    height: 65px;
    margin-bottom: 50px;
    opacity: 0;
    animation: appear 1s forwards;
}

.links {
    margin-bottom: 40px;
    opacity: 0;
    animation: appear 1s .5s forwards;
}

.links__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.links__item {
    display: block;
    list-style: none;
}

.links__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--body-color);
    text-decoration: none;
}

.links__link:before {
    position: absolute;
    display: block;
    content: '';
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
    opacity: 0;
}

.links__link:hover:before {
    animation: expanding-circle .35s;
}

.player {
    opacity: 0;
    animation: appear 1s 1s forwards;
    margin-bottom: 50px;
}

.player__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 14px;
    letter-spacing: .3em;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 10px;
    outline: none;
    opacity: 0;
    animation: appear 1s 1.5s forwards;
}

.player__button:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    opacity: 0;
}

.player__button:hover {
    cursor: pointer;
}

.player__button:hover:before {
    animation: expanding-square .35s;
}
